#about {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#about-container {
    display: grid;
    grid-column-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-areas: 
    "texto texto logo";
}

#about-container h1 {
    font: 700 2.0rem Archivo;  
    grid-area: texto;           
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 40%;
    grid-area: logo;   
}


@media (min-width: 900px) {
    #about {
        height: 30vh;
    }

    #about-container {
        max-width: 1100px;
    }
    
    #about-container h1 {
        font: 700 4.0rem Archivo;          
    }
}